<ion-modal-view>
  
  <ion-header-bar no-tap-scroll="true">
    <button class="button icon ion-close" ng-click="closeModal()"></button>
    <div style="padding:7px;">Where are you going?</div>
  </ion-header-bar>

  <ion-content>
    
    <div class="loader-wrapper" ng-show="isworking">
        <ion-spinner class="spinner-android"></ion-spinner>
    </div>

    <!-- list of cities -->
    <div class="list">

      <div class="item item-thumbnail-left" ng-repeat="d in destinations" ng-click="goToDetail('{{ d.destinationName }}')">
        <img src="{{ d.destinationImage }}">
        <h2>{{ d.destinationName }}</h2>
        <p>City </p>
      </div>

    </div>

  </ion-content>

</ion-modal-view>