<ion-modal-view>
  
  <ion-content>
    
    <div style="text-align:center;font-size:16px;padding:15px;">Login</div>

    <div style="text-align:center;">
      <button class="button button-positive" style="font-size:20px;width:150px;" ng-click="loginFB()">
          <span class="ion-social-facebook"></span><br>
        </button>
    </div>
    <div style="text-align:center;">
      <br><br>
      <button class="button button-assertive" style="font-size:20px;width:150px;" ng-click="closeModal()">
          Cancel
        </button>
    </div>

  </ion-content>

</ion-modal-view>