<ion-modal-view>
  

  <ion-content style="padding-bottom:20px;">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search nearest hotel" ng-model="model.searchText" ng-change="onTextChanged()">
      </label>
      <button class="button button-clear" ng-click="closeModal()">
        Cancel
      </button>
    </div>
    
    <div class="loader-wrapper" ng-show="isworking">
        <ion-spinner class="spinner-android"></ion-spinner>
    </div>

    <!-- list of my trips -->
    <div class="list">

      <div class="item" ng-repeat="t in hotels" ng-click="addHotel('{{ t.hotelName }}')">
        <h2>{{ t.hotelName }}</h2>
        <p>Availability: {{ t.availability }} </p>
      </div>

    </div>

  </ion-content>

</ion-modal-view>